@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Roboto","Arial",sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    min-height: 50px;
    padding: 10px;
}

a{
    text-decoration: none;
    color: #000;
}

header img{
    height: 30px;
}
header button{
    background: none;
    border:none;
}

.side{
    overflow-y: scroll;
    border-right: #3838388e 1px solid;
    margin: 0px 20px;
}

main{
    border-top: #3838388e 1px solid;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.VidSec{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.Card{
    margin: 5px;
}

.CardData{
    display: grid;
    grid-template-areas: 
    "b"
    "c"
    "d"
    ;
}

.Card .img{
    width: 100%;
}

.usrimg{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 5px;
}

.btn{
    display: flex; flex-direction: row;
    justify-content: start;
    align-items: center;
}

.btn button{
    background: none;
    border:none;
}
.btn label{
    margin: 10px;
    font-weight: bold;
}

hr{
    border: none;
    background-color: #6464648e;
    height: 1px;
    margin:10px 2px;
}